@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(60deg);
    }
}

@keyframes float {
    from {
        transform: translateX(-500px) translateY(100px);
    }
    to {
        transform: translateX(700px) translateY(-200px);
    }
}

p {
        font-family: 'Merriweather', serif;
        font-size: 20px;
      }
      a:link, a:visited{
        text-decoration: none;
        color: white;
      }


#container {
	margin: 0;
    padding: 0;
	background-color:white;
	background-image:  url(images/sea.jpeg);
	background-size: cover;
    position:fixed;
    top: 0;
    left:0;
    min-height:100%;
    min-width:100%;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);

}

.portrait {
	position: absolute;
	max-width: 120%;
	max-height: auto;
	grid-column: 2/3;
	grid-row:2/4;
    bottom: 0;
    animation: rotation 5s infinite ease-out alternate;
    animation-delay: 2s;


}

.ship {
    position: absolute;
    max-width: 50%;
    max-height: auto;
    grid-column: 1/2;
    grid-row:1/2;
    mix-blend-mode: overlay;
    animation: float 15s infinite linear alternate;
}

#shape1 {
    position: absolute;
    width: 400px;
    fill:rgb(22, 31, 115);
    z-index: 1;
    mix-blend-mode: multiply;
    grid-column: 1/2;
    grid-row:3/4;
    bottom: 0px;
}

#shape2 {
    position: absolute;
    width: 350px;
    fill:rgb(111, 23, 23);
    z-index: 1;
    mix-blend-mode: multiply;
    grid-column: 3/4;
    grid-row:1/2;
    right: 0px;

}

button {
    z-index: 1;
}